<div class='todo'>

  <div class='todo__head'>
    <h1 class='todo__title'>To do list</h1>
    <button class='todo__button'
            id='authorize-button'
            *ngIf='signIn'
            (click)='authorize()'>
      Sign in
    </button>
    <button class='todo__button'
            id='signout-button'
            *ngIf='!signIn'
            (click)='signout()'>
      Sign out
    </button>
  </div>

  <div class='todo__add'>
    <input class='todo__add-input'
           type='text'
           [disabled]='signIn'
           [(ngModel)]='newItem'>
    <button class='todo__add-button'
            [disabled]='newItem===""'
            (click)='addItem()'>
      <i class='material-icons'>add_circle_outline</i>
    </button>
  </div>

  <div class='decorate' *ngIf='signIn'>
    <div class='decorate__item'></div>
    <div class='decorate__item'></div>
    <div class='decorate__item'></div>
    <div class='decorate__item'></div>
    <div class='decorate__item'></div>
  </div>

  <div class='todo__list'>
    <app-todo-item *ngFor='let item of todoList | slice:0:9; let i=index'
                    [todoItem]="todoList[i]"
                   (onEdit)="editItem()"
                   (onUpdate)="updateItem($event)"
                   (onDelete)="deleteItem($event, i)">
    </app-todo-item>
  </div>

  <div class='todo__block' [ngClass]='{"cover": isCover}'></div>

</div>

