/deep/ input{
    border:none;
    outline:none;
    height: 40px;
    margin-left:5%;
    width: 80%;
    background: transparent;
}
/deep/ button{
    background: transparent;
    border: none;
    outline:none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    line-height: 100%;
}
i{
    line-height: 40px;
    color:#286600;
}
.todo{
    width: 500px;
    margin: 0 auto;
}
.todo__head{
    position: relative;
}
.todo__title{
    color: #286600;
    font-family: sans-serif;
    font-size: 35px;
}
.todo__button{
    background: #286600;
    border-radius: 5px;
    color:#fff;
    font-family: sans-serif;
    padding: 0 15px;
    height: 35px;
    font-size: 14px;
}
.decorate__item{
    border-bottom: 3px dotted #286600;
    margin-top:50px;
    margin-left: 1px;
    margin-right: 4px;
    -webkit-box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
    -moz-box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
    box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
}

.todo__add{
    position: relative;
    -webkit-box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
    -moz-box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
    box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
    background: #fff;
    margin-bottom: 1em;
}
.todo__add-input {
    font-size: 1.4em;
    vertical-align: top;
    box-sizing: border-box;
}

.todo__list{
    list-style: none;
    padding: 0;
    -webkit-box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
    -moz-box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
    box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
}

.todo__add-button {
    font-size: 1.1em;
    vertical-align: top;
}

.cover{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    z-index: 1;
}
