.todo__item{
  position: relative;
  margin-bottom: 1px;
  background: #fff;
  cursor: pointer;
}
.edit{
  -webkit-box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
  -moz-box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
  box-shadow: 0px 5px 28px 0px rgba(148,150,150,0.75);
  z-index: 9999;
}
.todo__edit{
  font-size: 20px;
}
.todo__item-input{
  cursor: pointer;
}
.todo__delete {
  display: inline-block;
  cursor: pointer;
}
.todo__edit{
  right: 40px;
}
.todo__save{
  right: 40px;
}
