<div [ngClass]='todoItemClasses[isEdited ? "edit" : "view" ]'>
  <input #todoInput
         class='todo__item-input'
         type='text'
         [value]='todoItem.summary'
         [disabled]="!isEdited"/>
  <button class='todo__delete' (click)='deleteItem()'>
    <i class='material-icons'>close</i>
  </button>
  <button class='todo__edit'
          *ngIf="!isEdited"
          (click)='editItem()'>
    <i class='material-icons todo__edit'>border_color</i>
  </button>
  <button class='todo__save'
          (click)='updateItem(todoInput.value)'
          *ngIf="isEdited">
    <i class='material-icons'>save</i>
  </button>
</div>
